{
  "bracketSameLine": true,
  "objectWrap": "preserve",
  "bracketSpacing": true,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "tabWidth": 4,
  "useTabs": true
}